@font-face {
  font-family: Cinzel;
  src: url("/fonts/Cinzel-Bold.otf");
}
@font-face {
  font-family: Museo;
  src: url("/fonts/MuseoSans_500.otf");
}
form.contact {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
form.contact div {
  width: 49%;
  margin-bottom: 32px;
}
form.contact div input, form.contact div textarea {
  width: 100%;
}
form.contact label {
  display: flex;
  margin-bottom: 8px;
}
form.contact input[type=submit] {
  margin-top: 32px;
}

.donationcontainer {
  margin-top: 128px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.donationblock {
  font-family: Museo;
  position: relative;
  display: flex;
  width: calc(50% - 16px);
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 30px 0px;
}
.donationblock h1 {
  float: left;
  white-space: nowrap;
  min-width: 140px;
  width: 50%;
  margin: 0;
  height: 100%;
  font-family: Cinzel;
  font-size: 32px;
  display: flex;
  align-items: center;
}
.donationblock h3 {
  margin: 0;
  color: #b2dbee;
}
.donationblock p, .donationblock i {
  font-size: 14px;
  color: #ECEDEE;
}
.donationblock .right {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  align-items: center;
  width: 50%;
  float: right;
  text-align: right;
}
.donationblock .right * {
  width: 100%;
}
.donationblock::after {
  content: " ";
  height: 2px;
  width: 100%;
  position: absolute;
  box-sizing: border-box;
  bottom: 0;
  border-top: 1px solid #203A46;
  border-bottom: 1px solid #091013;
}

.donationblock:nth-of-type(1)::before, .donationblock:nth-of-type(2)::before {
  content: " ";
  height: 2px;
  width: 100%;
  position: absolute;
  box-sizing: border-box;
  top: 0;
  border-top: 1px solid #203A46;
  border-bottom: 1px solid #091013;
}

form.contact .row {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
}
form.contact .remember {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
form.contact .remember input[type=checkbox] {
  width: auto;
}
form.contact .forgot {
  text-decoration: none;
  color: #b2dbee;
  font-family: Museo;
}

button {
  box-shadow: unset;
  width: 35%;
  font-size: 24px;
  padding: 0;
  background: linear-gradient(-180deg, #e6b226 0%, #D87B19 100%);
  font-family: Cinzel;
  color: #101D23;
  float: left;
  border: 3px solid #f0d079;
  border-right: 3px solid #9f4000;
  border-bottom: 3px solid #9f4000;
  cursor: pointer;
}

.longButton {
  width: 50%;
  min-width: 360px;
}

.row .large {
  width: 100%;
}

.invalid-feedback, .alert-success {
  float: left;
  margin-top: 6px;
  font-size: 12px;
  font-family: Museo;
  color: #ff1d0d;
}

.alert-success {
  color: #4CAF50;
}