@font-face {
  font-family: Cinzel;
  src: url("/fonts/Cinzel-Bold.otf");
}
@font-face {
  font-family: Museo;
  src: url("/fonts/MuseoSans_500.otf");
}
main p {
  font-family: Museo;
  color: #ECEDEE;
  font-size: 16px;
}
main h1, main h2, main h3, main h4, main h5, main h6 {
  font-family: Cinzel;
  color: #E1BB34;
}
main blockquote {
  position: relative;
  display: flex;
  width: calc(100% - 32px);
  box-sizing: border-box;
  margin-left: 32px;
}
main blockquote::before {
  position: absolute;
  left: -28px;
  content: " ";
  width: 4px;
  height: 100%;
  background-color: #E1BB34;
}

#alert {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 16px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Museo;
  color: #ECEDEE;
  padding: 8px 16px;
  z-index: 50000;
}
#alert .closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.succes {
  border: 2px solid #33691E;
  background: #4CAF50;
}

.warning {
  border: 2px solid #af6a05;
  background: #ff9800;
}

.danger {
  border: 2px solid #ff1d0d;
  background: #fb5757;
}

.tox-notifications-container {
  display: none !important;
}

.container {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 10px;
  width: 100%;
  max-width: 1650px;
  overflow: hidden;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}

.toolbar {
  background-color: #101D23;
  min-height: 20px;
}
.toolbar a {
  font-family: Museo;
}

header {
  width: 100%;
}
header ul {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 30px;
  justify-content: flex-end;
}
header ul li {
  list-style: none;
  margin-left: 32px;
}
header ul li a {
  color: #ECEDEE;
  text-decoration: none;
}
header ul li a.cta {
  color: #E1BB34;
}
header ul li:first-of-type {
  margin: 0;
}
header .active {
  color: #E1BB34;
}
header .lang {
  position: absolute;
  left: 0;
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 70;
  overflow: hidden;
  min-height: 60px;
  background-color: #203A46;
  font-family: Cinzel;
  box-shadow: 0 0.3125rem 0.625rem 0 rgba(0, 0, 0, 0.85);
}
nav .logo {
  position: absolute;
  left: 0;
}
nav .logo a {
  display: block;
  text-indent: 100%;
  overflow: hidden;
  background: url("/images/branding/rs.png");
  background-size: 100%;
  width: 120px;
  height: 36px;
}
nav a {
  font-family: Cinzel;
}

.content {
  background: #101D23;
  flex: 1;
  align-self: stretch;
  justify-self: stretch;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.attention {
  width: 100%;
  position: relative;
}
.attention img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
.attention .title {
  position: absolute;
  bottom: 50px;
  text-align: center;
  width: 100%;
  z-index: 2;
}
.attention .title h1 {
  font-size: 72px;
  color: #ECEDEE;
}
.attention .title span {
  color: #E1BB34;
}
.attention::after {
  content: " ";
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  margin: 0;
  position: absolute;
  background: url("/images/fancyborder.jpg");
  width: 100%;
  overflow: hidden;
  height: 50px;
}

.splash {
  width: 100%;
  position: relative;
  margin: auto;
}
.splash img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  display: block;
  position: relative;
  width: 100%;
  z-index: 1;
}
.splash .left, .splash .right {
  align-items: center;
  width: 100%;
  position: absolute;
  top: 50%;
  z-index: 500;
  transform: translate(0%, -50%);
}
.splash .left .text, .splash .right .text {
  width: 45%;
  max-width: 650px;
}
.splash .left .text h2, .splash .right .text h2 {
  font-family: Cinzel;
  font-size: 48px;
}
.splash .left .text p, .splash .right .text p {
  font-family: Museo;
  font-size: 16px;
}
.splash::after {
  content: " ";
  display: block;
  left: 0;
  bottom: 0px;
  position: absolute;
  background: url("/images/thinborder.png");
  width: 100%;
  height: 5px;
  z-index: 50;
}
.splash a {
  color: #E1BB34;
}

.splash .dark h2 {
  color: #E1BB34;
}
.splash .dark p {
  color: #ECEDEE;
}

.right .text {
  float: right;
}

.newsletter {
  width: 100%;
  color: #ECEDEE;
  font-family: Museo;
  display: flex;
  align-items: center;
  background: url("/images/cracks.png") repeat-x center top -9.1875rem, url("/images/cracks.png") repeat-x center bottom -9.1875rem, #101D23;
}
.newsletter form {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  justify-content: center;
  margin: 128px auto;
}
.newsletter form input {
  width: 65%;
}
.newsletter form input[type=submit] {
  width: 35%;
}

form.contact h1 {
  width: 100%;
  color: #E1BB34;
  font-family: Cinzel;
  margin: 0 0 64px;
}

label {
  width: 100%;
  color: #ECEDEE;
  font-family: Museo;
  margin-bottom: 6px;
}

input, textarea {
  float: left;
  box-sizing: border-box;
  color: #ECEDEE;
  font-family: Museo;
  padding: 8px;
  background: #091013;
  box-shadow: inset 5px 5px 15px -5px rgba(0, 0, 0, 0.75);
  border: 0.0625rem solid rgba(16, 29, 35, 0);
}
input[type=submit], textarea[type=submit] {
  box-shadow: unset;
  width: 35%;
  font-size: 24px;
  padding: 0 32px;
  background: linear-gradient(-180deg, #e6b226 0%, #D87B19 100%);
  font-family: Cinzel;
  color: #101D23;
  float: left;
  border: 3px solid #f0d079;
  border-right: 3px solid #9f4000;
  border-bottom: 3px solid #9f4000;
  cursor: pointer;
}

.required {
  color: #E1BB34;
  margin-left: 8px;
}

textarea {
  width: 100%;
  resize: vertical;
  min-height: 100px;
  height: 200px;
  max-height: 400px;
}

footer {
  align-self: flex-end;
  padding: 32px 0;
  box-shadow: inset 0px 10px 15px -5px rgba(0, 0, 0, 0.75);
  background: url("/images/parchment.jpg");
  background-repeat: repeat;
  font-family: Museo;
  color: black;
  font-size: 16px;
  position: relative;
  bottom: 0;
  width: 100%;
}
footer p {
  color: #091013;
}
footer .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer img {
  width: calc(2000px / 10);
}
footer a {
  color: black;
}
footer::before {
  content: " ";
  display: block;
  left: 0;
  top: -2px;
  position: absolute;
  background: url("/images/thinborder.png");
  width: 100%;
  height: 5px;
}

form .currency {
  position: relative;
  display: flex;
}
form .currency span {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
  width: 15px;
  font-family: Museo;
  color: #ECEDEE;
}
form .currency input {
  width: 100%;
  box-sizing: border-box;
  padding-left: 25px;
}

ul {
  list-style: none;
}

.container {
  margin: 0;
  width: 100%;
  max-width: none;
}

.content {
  background: #203A46;
}

.admin {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.sidenav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #101D23;
  color: #ECEDEE;
  width: 250px;
  box-shadow: 0 0.3125rem 0.625rem 0 rgba(0, 0, 0, 0.85);
}
.sidenav ul {
  margin: 0;
  padding: 0;
}
.sidenav ul li {
  padding: 10px;
  background: #101D23;
  border-bottom: 2px solid #203A46;
  box-sizing: border-box;
}
.sidenav ul li:hover {
  background: #203A46;
}
.sidenav ul a {
  color: white;
  font-family: Museo;
  text-decoration: none;
}
.sidenav ul.bottom {
  border-top: 2px solid #203A46;
  border-bottom: none;
}

.admincontainer {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  height: calc(100vh - 90px);
  box-sizing: border-box;
  padding: 10px 40px 0 40px;
  overflow-y: auto;
}
.admincontainer ul {
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.admincontainer h1 {
  color: #E1BB34;
  font-family: Cinzel;
}
.admincontainer h2 {
  color: #b2dbee;
  font-family: Cinzel;
  font-size: 24px;
  margin: 0;
}
.admincontainer h3 {
  color: #b2dbee;
  font-family: Cinzel;
  font-size: 16px;
}
.admincontainer p {
  margin: 8px 0;
  color: #ECEDEE;
  font-family: Museo;
}

.button {
  box-shadow: unset;
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  padding: 0 32px;
  background: linear-gradient(-180deg, #e6b226 0%, #D87B19 100%);
  font-family: Cinzel;
  color: #101D23;
  float: left;
  border: 3px solid #f0d079;
  border-right: 3px solid #9f4000;
  border-bottom: 3px solid #9f4000;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  padding: 5px 0;
  margin: 10px 0;
}

.delete {
  background: linear-gradient(to bottom, #fc8508, #D01E1E);
}

.add {
  width: 300px;
}

form input[type=submit] {
  margin-bottom: 32px;
}

.listitem {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  border-bottom: 2px solid #101D23;
}
.listitem div:first-of-type {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
}
.listitem h3 {
  margin-top: 0;
  display: block;
  width: 100%;
}
.listitem p {
  display: flex;
  width: 80%;
  max-height: 100px;
  overflow: hidden;
  flex: 1;
  padding: 0 32px;
  box-sizing: border-box;
}
.listitem img {
  width: 20%;
  max-height: 100px;
  max-width: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  box-sizing: border-box;
  display: flex;
}
.listitem .buttons {
  display: flex;
  flex-direction: column;
  width: 20%;
}

form > div {
  margin-bottom: 32px;
}
form > div .together {
  display: flex;
  flex-direction: column;
  margin: 12px 0 24px;
}
form i {
  font-family: Museo;
  color: #ECEDEE;
  font-size: 12px;
  margin-bottom: 8px;
}

.tox-tinymce {
  min-height: 350px !important;
}

.listitem div:first-of-type.donation {
  width: 100%;
}

.listitem .full {
  overflow: visible;
  width: 100%;
  padding: 0;
}

h4 {
  width: 100%;
  margin: 0;
  color: #b2dbee;
  font-family: Museo;
}

.listitem .donation .titles {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.listitem .donation h3 {
  margin-bottom: 4px;
}
.listitem .donation h4 {
  margin-bottom: 8px;
  color: #E1BB34;
}
.listitem .donation .donationText {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
}
.listitem .donation .donationText p {
  flex: unset;
  width: auto;
  padding: 0;
}
.listitem .donation .donationText .full {
  max-height: unset;
  flex: 1;
  box-sizing: border-box;
  padding-right: 48px;
}
.listitem .donation .data {
  text-align: right;
  display: flex;
  flex-direction: column;
  width: auto;
}