@font-face {
  font-family: Cinzel;
  src: url("/fonts/Cinzel-Bold.otf");
}
@font-face {
  font-family: Museo;
  src: url("/fonts/MuseoSans_500.otf");
}
main p {
  font-family: Museo;
  color: #ECEDEE;
  font-size: 16px;
}
main h1, main h2, main h3, main h4, main h5, main h6 {
  font-family: Cinzel;
  color: #E1BB34;
}
main blockquote {
  position: relative;
  display: flex;
  width: calc(100% - 32px);
  box-sizing: border-box;
  margin-left: 32px;
}
main blockquote::before {
  position: absolute;
  left: -28px;
  content: " ";
  width: 4px;
  height: 100%;
  background-color: #E1BB34;
}

#alert {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 16px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Museo;
  color: #ECEDEE;
  padding: 8px 16px;
  z-index: 50000;
}
#alert .closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.succes {
  border: 2px solid #33691E;
  background: #4CAF50;
}

.warning {
  border: 2px solid #af6a05;
  background: #ff9800;
}

.danger {
  border: 2px solid #ff1d0d;
  background: #fb5757;
}

.tox-notifications-container {
  display: none !important;
}

.container {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 10px;
  width: 100%;
  max-width: 1650px;
  overflow: hidden;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}

.toolbar {
  background-color: #101D23;
  min-height: 20px;
}
.toolbar a {
  font-family: Museo;
}

header {
  width: 100%;
}
header ul {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 30px;
  justify-content: flex-end;
}
header ul li {
  list-style: none;
  margin-left: 32px;
}
header ul li a {
  color: #ECEDEE;
  text-decoration: none;
}
header ul li a.cta {
  color: #E1BB34;
}
header ul li:first-of-type {
  margin: 0;
}
header .active {
  color: #E1BB34;
}
header .lang {
  position: absolute;
  left: 0;
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 70;
  overflow: hidden;
  min-height: 60px;
  background-color: #203A46;
  font-family: Cinzel;
  box-shadow: 0 0.3125rem 0.625rem 0 rgba(0, 0, 0, 0.85);
}
nav .logo {
  position: absolute;
  left: 0;
}
nav .logo a {
  display: block;
  text-indent: 100%;
  overflow: hidden;
  background: url("/images/branding/rs.png");
  background-size: 100%;
  width: 120px;
  height: 36px;
}
nav a {
  font-family: Cinzel;
}

.content {
  background: #101D23;
  flex: 1;
  align-self: stretch;
  justify-self: stretch;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.attention {
  width: 100%;
  position: relative;
}
.attention img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
.attention .title {
  position: absolute;
  bottom: 50px;
  text-align: center;
  width: 100%;
  z-index: 2;
}
.attention .title h1 {
  font-size: 72px;
  color: #ECEDEE;
}
.attention .title span {
  color: #E1BB34;
}
.attention::after {
  content: " ";
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  margin: 0;
  position: absolute;
  background: url("/images/fancyborder.jpg");
  width: 100%;
  overflow: hidden;
  height: 50px;
}

.splash {
  width: 100%;
  position: relative;
  margin: auto;
}
.splash img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  display: block;
  position: relative;
  width: 100%;
  z-index: 1;
}
.splash .left, .splash .right {
  align-items: center;
  width: 100%;
  position: absolute;
  top: 50%;
  z-index: 500;
  transform: translate(0%, -50%);
}
.splash .left .text, .splash .right .text {
  width: 45%;
  max-width: 650px;
}
.splash .left .text h2, .splash .right .text h2 {
  font-family: Cinzel;
  font-size: 48px;
}
.splash .left .text p, .splash .right .text p {
  font-family: Museo;
  font-size: 16px;
}
.splash::after {
  content: " ";
  display: block;
  left: 0;
  bottom: 0px;
  position: absolute;
  background: url("/images/thinborder.png");
  width: 100%;
  height: 5px;
  z-index: 50;
}
.splash a {
  color: #E1BB34;
}

.splash .dark h2 {
  color: #E1BB34;
}
.splash .dark p {
  color: #ECEDEE;
}

.right .text {
  float: right;
}

.newsletter {
  width: 100%;
  color: #ECEDEE;
  font-family: Museo;
  display: flex;
  align-items: center;
  background: url("/images/cracks.png") repeat-x center top -9.1875rem, url("/images/cracks.png") repeat-x center bottom -9.1875rem, #101D23;
}
.newsletter form {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  justify-content: center;
  margin: 128px auto;
}
.newsletter form input {
  width: 65%;
}
.newsletter form input[type=submit] {
  width: 35%;
}

form.contact h1 {
  width: 100%;
  color: #E1BB34;
  font-family: Cinzel;
  margin: 0 0 64px;
}

label {
  width: 100%;
  color: #ECEDEE;
  font-family: Museo;
  margin-bottom: 6px;
}

input, textarea {
  float: left;
  box-sizing: border-box;
  color: #ECEDEE;
  font-family: Museo;
  padding: 8px;
  background: #091013;
  box-shadow: inset 5px 5px 15px -5px rgba(0, 0, 0, 0.75);
  border: 0.0625rem solid rgba(16, 29, 35, 0);
}
input[type=submit], textarea[type=submit] {
  box-shadow: unset;
  width: 35%;
  font-size: 24px;
  padding: 0 32px;
  background: linear-gradient(-180deg, #e6b226 0%, #D87B19 100%);
  font-family: Cinzel;
  color: #101D23;
  float: left;
  border: 3px solid #f0d079;
  border-right: 3px solid #9f4000;
  border-bottom: 3px solid #9f4000;
  cursor: pointer;
}

.required {
  color: #E1BB34;
  margin-left: 8px;
}

textarea {
  width: 100%;
  resize: vertical;
  min-height: 100px;
  height: 200px;
  max-height: 400px;
}

footer {
  align-self: flex-end;
  padding: 32px 0;
  box-shadow: inset 0px 10px 15px -5px rgba(0, 0, 0, 0.75);
  background: url("/images/parchment.jpg");
  background-repeat: repeat;
  font-family: Museo;
  color: black;
  font-size: 16px;
  position: relative;
  bottom: 0;
  width: 100%;
}
footer p {
  color: #091013;
}
footer .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer img {
  width: calc(2000px / 10);
}
footer a {
  color: black;
}
footer::before {
  content: " ";
  display: block;
  left: 0;
  top: -2px;
  position: absolute;
  background: url("/images/thinborder.png");
  width: 100%;
  height: 5px;
}

form .currency {
  position: relative;
  display: flex;
}
form .currency span {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
  width: 15px;
  font-family: Museo;
  color: #ECEDEE;
}
form .currency input {
  width: 100%;
  box-sizing: border-box;
  padding-left: 25px;
}

.container.news {
  align-self: flex-start;
  justify-self: flex-start;
}
.container.news p {
  color: white;
  font-family: Museo;
}
.container.news h1 {
  font-family: Cinzel;
  color: #E1BB34;
}
.container.news main {
  display: flex;
  width: 100%;
  flex-direction: column;
  background: transparent url("/images/content_repeat_y2.jpg") repeat-y 0 0;
  background-size: 100%;
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 38px;
  position: relative;
}
.container.news main::before, .container.news main::after {
  content: " ";
  height: 2px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0px;
  background: transparent url("/images/background-tabbedelement-top.jpg") repeat-x 0 0;
}
.container.news main::after {
  top: unset;
  bottom: 0;
}
.container.news a {
  width: 100%;
  display: block;
  text-decoration: none;
}
.container.news a .newsblock {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 10px 0;
}
.container.news a .newsblock img {
  border: solid 1px #384043;
  box-sizing: border-box;
  background: #091013;
  padding: 2px;
  width: 170px;
  height: 88px;
  -o-object-fit: cover;
     object-fit: cover;
}
.container.news a .newsblock article {
  box-sizing: border-box;
  max-width: calc(100% - 180px);
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}
.container.news a .newsblock article h3 {
  font-family: Cinzel;
  color: #b2dbee;
}
.container.news a .newsblock article .intro {
  display: flex;
}
.container.news a .newsblock article .intro p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* number of lines to show */
  -webkit-box-orient: vertical;
  max-width: 120px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.container.news a .newsblock article .intro span {
  margin-left: 4px;
  float: left;
  font-size: 14px;
  color: #E1BB34;
  justify-self: flex-end;
}
.container.news a .newsblock article .intro * {
  margin: 0;
}
.container.news a .newsblock article p, .container.news a .newsblock article i {
  font-size: 14px;
}
.container.news a .newsblock article * {
  font-family: Museo;
  margin: 3px;
}
.container.news a .newsblock * {
  color: #ECEDEE;
}
.container.news a .newsblock::after {
  content: " ";
  height: 2px;
  width: 100%;
  position: absolute;
  box-sizing: border-box;
  bottom: 0;
  border-top: 1px solid #203A46;
  border-bottom: 1px solid #091013;
}

.pages {
  width: 100%;
  display: flex;
  margin: 20px auto 0;
  justify-content: center;
  color: #E1BB34;
  position: relative;
}
.pages nav {
  display: flex;
  justify-content: center;
  background: unset;
  box-shadow: unset;
}
.pages nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.pages nav ul li {
  font-family: Cinzel;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background: #203A46;
  border-radius: 3px;
  box-shadow: inset 0px 5px 5px -5px rgba(0, 0, 0, 0.75);
  color: #E1BB34;
  display: flex;
}
.pages nav ul li a {
  text-align: center;
  color: #ECEDEE;
}

.pagination {
  list-style: none;
  flex-wrap: wrap;
  padding: 0;
  z-index: -1;
}

.newsbanner {
  position: relative;
  align-self: start !important;
  display: flex;
  min-height: 300px;
  max-height: 400px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}

.backgroundbanner {
  position: relative;
  background: #101D23;
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.detail {
  top: -250px;
  position: relative;
  z-index: 2;
}
.detail main {
  min-height: 400px;
}
.detail main article {
  padding: 20px 10px;
  font-family: Museo;
  color: #ECEDEE;
}
.detail main article .intro {
  margin: 16px 0;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.7);
  background: rgba(0, 0, 0, 0.7);
  outline: 1px solid #62686c;
  border: 2px solid #091013;
  box-sizing: border-box;
  padding: 10px;
  color: #ECEDEE;
  font-family: Museo;
}
.detail main article .intro p {
  margin: 0;
}
.detail h1 {
  position: relative;
  top: 4px;
  z-index: 5;
  padding: 8px 20px 0 30px;
  display: inline-block;
  background: url("/images/content_repeat_y.jpg");
  overflow: visible;
  margin: 0;
}
.detail h1 a {
  color: #E1BB34;
}
.detail h1::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  width: 54px;
  background: url("/images/background_title.png");
  background-repeat: no-repeat;
}
.detail h3 {
  color: #b2dbee;
  font-family: Cinzel;
  margin: 0;
  font-size: 36px;
}

#donate {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 40%;
  width: 600px;
  max-width: 100%;
}
#donate p {
  margin-bottom: 4px;
}
#donate input[type=submit] {
  margin-top: 16px;
}
#donate textarea {
  height: 100px;
}
#donate .bigger {
  padding: 4px 0;
}

.together {
  display: flex;
  width: calc(50% - 12px);
  flex-direction: column;
  margin-top: 24px;
}
.together input {
  width: auto;
}

.large {
  width: 100%;
}