@font-face {
  font-family: Cinzel;
  src: url("/fonts/Cinzel-Bold.otf");
}
@font-face {
  font-family: Museo;
  src: url("/fonts/MuseoSans_500.otf");
}
@media screen and (max-width: 1300px) {
  .attention img {
    min-height: 350px;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    min-width: 0;
  }
  .attention .title {
    position: absolute;
    height: calc(100% - 50px);
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .attention .title h1 {
    text-shadow: -2px 5px 8px #091013;
    margin: 0;
  }

  footer p {
    margin: 24px;
  }

  .admin .together {
    width: 100%;
    min-width: unset;
  }
  .admin input[type=submit] {
    width: 100%;
  }
}
@media screen and (max-width: 950px) {
  .splash img {
    display: flex;
    transform: scaleX(-1);
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    -o-object-position: 50% 50%;
       object-position: 50% 50%;
  }
  .splash .left, .splash .right {
    top: 0;
    position: relative;
    transform: unset;
  }
  .splash .left .container, .splash .right .container {
    width: 100%;
    color: #ECEDEE;
    align-items: center;
    background: url("/images/cracks.png") repeat-x center top -9.1875rem, url("/images/cracks.png") repeat-x center bottom -9.1875rem, #101D23;
  }
  .splash .left .text, .splash .right .text {
    margin: calc(9.1875rem / 2) 0;
    max-width: unset;
    width: 100%;
  }
  .splash .left .text h2, .splash .right .text h2 {
    word-break: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
        hyphens: auto;
    margin: 0 0 24px 0;
    color: #E1BB34;
  }
  .splash .left .text p, .splash .right .text p {
    line-height: 24px;
    margin: 0;
  }
  .splash .left .text::after, .splash .left .text::before, .splash .right .text::after, .splash .right .text::before {
    content: " ";
    display: block;
    left: 0;
    bottom: 0px;
    position: absolute;
    background: url(/images/thinborder.png);
    width: 100%;
    height: 5px;
    z-index: 50;
  }
  .splash .left .text::before, .splash .right .text::before {
    top: 0;
    bottom: unset;
  }

  .listitem {
    padding: 20px 0;
    flex-direction: column;
  }
  .listitem div:first-of-type {
    flex-direction: column;
    width: 100%;
  }
  .listitem div:first-of-type img {
    width: 100%;
    max-width: unset;
    height: 150px;
  }
  .listitem .buttons {
    width: 100%;
  }
  .listitem p {
    padding: 0;
    width: 100%;
  }
}
@media screen and (max-width: 740px) {
  .attention .title h1 {
    font-size: 72px;
  }

  footer .container {
    flex-direction: column;
  }
  footer .container p {
    margin: 24px 0;
  }

  .user .initial {
    width: 100%;
    padding: 6px 0;
  }

  .buttons {
    width: 100%;
  }
  .buttons .button {
    padding: 6px 0;
  }
}
@media screen and (max-width: 640px) {
  form.contact h1 {
    margin: 22px 0;
  }

  .attention .title h1 {
    font-size: 42px;
  }

  .newsletter form input {
    width: 100%;
    padding: 12px 8px;
  }

  .newsletter form input[type=submit] {
    margin-top: 24px;
    padding: 10px 0;
    width: 100%;
    word-break: break-all;
  }

  .container.news a .newsblock {
    flex-direction: column;
    padding: 36px 0;
  }
  .container.news a .newsblock img {
    width: 100%;
    height: 140px;
  }
  .container.news a .newsblock article {
    width: 100%;
    max-width: unset;
    margin: 0;
  }
  .container.news a .newsblock article i {
    margin: 12px 0;
  }
  .container.news a .newsblock article .intro {
    flex-wrap: wrap;
  }
  .container.news a .newsblock article .intro p {
    -webkit-line-clamp: 3;
    width: 100%;
    max-width: unset;
  }
  .container.news a .newsblock article .intro span {
    margin: 12px 0 0;
  }
  .container.news a .newsblock article * {
    margin-left: 0;
    margin-right: 0;
  }

  form.contact, form#donate {
    width: 100%;
    margin-bottom: 24px;
  }
  form.contact > div, form.contact .together, form#donate > div, form#donate .together {
    width: 100%;
  }
  form.contact input, form#donate input {
    width: 100%;
    padding: 12px 8px;
  }
  form.contact input[type=radio], form#donate input[type=radio] {
    width: auto;
  }

  form#donate .currency input[type=number] {
    padding-left: 25px;
  }

  .donationblock {
    width: 100%;
    display: flex;
  }
  .donationblock h1 {
    min-width: unset;
    width: auto;
  }
  .donationblock .right {
    flex: 1;
  }
  .donationblock:nth-of-type(1)::after {
    all: unset;
  }

  .longButton {
    min-width: unset;
    width: 100%;
  }

  header .menu {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 22px;
    position: absolute;
    margin: 0;
    transform: translate(0 -50%);
    left: 50%;
  }
  header .menu span {
    border-radius: 500px;
    height: 3px;
    width: 30px;
    display: block;
    background: #ECEDEE;
  }

  .sidenav {
    display: none;
    width: 100%;
    position: fixed;
    z-index: 50;
  }

  .show {
    display: block;
  }

  .add {
    width: 100%;
  }

  .errorContainer {
    height: 100%;
    box-sizing: border-box;
    overflow: visible;
    padding: 12px;
    min-height: 100vh;
  }
  .errorContainer .errorTitle {
    font-size: 60px;
  }
}
@media screen and (max-width: 300px) {
  * {
    word-break: break-all;
  }

  .logo a {
    word-break: normal;
  }

  #alert {
    left: 10px;
    transform: unset;
    box-sizing: border-box;
    width: calc(100% - 20px);
    word-break: normal;
  }
}