@font-face {
  font-family: Cinzel;
  src: url("/fonts/Cinzel-Bold.otf");
}
@font-face {
  font-family: Museo;
  src: url("/fonts/MuseoSans_500.otf");
}
.user {
  background: #101D23;
  margin-bottom: 16px;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}
.user .initial {
  width: 110px;
  display: flex;
  background: #1ABC9C;
  justify-content: center;
  align-items: center;
  font-family: Museo;
  color: #ECEDEE;
  font-size: 48px;
  text-transform: uppercase;
}
.user .infocollection {
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 10px;
  box-sizing: border-box;
}
.user .infocollection .name p {
  font-size: 22px;
  text-transform: capitalize;
}
.user .infocollection .name p .role {
  margin-left: 8px;
  font-size: 12px;
}
.user .infocollection .userinfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.user .infocollection .userinfo .listinfo {
  min-width: 200px;
  margin-right: 24px;
}
.user .infocollection .userinfo .prefix {
  margin-right: 4px;
  color: #b2dbee;
}
.user .buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.user .button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 0 10px;
}