// contact

@import "_variables";

form.contact{
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    div {
        width: 49%;
        margin-bottom: 32px;
        input, textarea {
            width: 100%;
        }
    }
    label{
        display: flex;
        margin-bottom: 8px;
    }
    input[type=submit]{
        margin-top: 32px;
    }
}

.donationcontainer{
    margin-top: 128px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.donationblock {
    font-family: $text;
    position: relative;
    display: flex;
    width: calc(50% - 16px);
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 30px 0px;
    h1{
        float: left;
        white-space: nowrap;
        min-width: 140px;
        width: 50%;
        margin: 0;
        height: 100%;
        font-family: $title;
        font-size: 32px;
        display: flex;
        align-items:center;
    }
    h3{
        margin: 0;
        color: $lightblue;
    }
    p, i {
        font-size: 14px;
        color: $white;
    }
    .right{
        display: flex;
        height: 100%;
        flex-wrap: wrap;
        align-items: center;
        width: 50%;
        float: right;
        text-align: right;
        *{
            width: 100%;
        }
    }
    &::after{
        content: " ";
        height: 2px;
        width: 100%;
        position: absolute;
        box-sizing: border-box;
        bottom: 0;
        border-top: 1px solid $lighter;
        border-bottom: 1px solid $black;
    }
}

.donationblock:nth-of-type(1)::before, .donationblock:nth-of-type(2)::before{
    content: " ";
    height: 2px;
    width: 100%;
    position: absolute;
    box-sizing: border-box;
    top: 0;
    border-top: 1px solid $lighter;
    border-bottom: 1px solid $black;
}

form.contact {
    .row{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0;
    }
    .remember{
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        input[type=checkbox]{
            width: auto;
        }
    }
    .forgot{
        text-decoration: none;
        color: $lightblue;
        font-family: $text;
    }
}

button{
    box-shadow: unset;
    width: 35%;
    font-size: 24px;
    padding: 0;
    background: linear-gradient(-180deg, #e6b226 0%, #D87B19 100%);
    font-family: $title;
    color: $dark;
    float: left;
    border: 3px solid rgb(240, 208, 121);
    border-right: 3px solid rgb(159, 64, 0);
    border-bottom: 3px solid rgb(159, 64, 0);
    cursor: pointer;
}

.longButton{
    width: 50%;
    min-width: 360px;
}

.row{
    .large{
        width: 100%;
    }
}

.invalid-feedback, .alert-success{
    float: left;
    margin-top: 6px;
    font-size: 12px;
    font-family: $text;
    color:#ff1d0d;
}

.alert-success{
    color: #4CAF50;
}