//admin panel
@import "_variables";

ul{
    list-style: none;
}

.container{
    margin: 0;
    width: 100%;
    max-width: none;
}

.content{
    background: $lighter;
}

.admin {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.sidenav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: $dark;
    color: $white;
    width: 250px;
    box-shadow:0 0.3125rem 0.625rem 0 rgba(0, 0, 0, 0.85) ;
    ul{
        margin: 0;
        padding: 0;
        li{
            padding: 10px;
            background: $dark;
            border-bottom: 2px solid $lighter;
            box-sizing:border-box;
        }
        li:hover{
            background: $lighter;
        }
        a{
            color: white;
            font-family: $text;
            text-decoration: none;
        }
    }
    ul.bottom{
        border-top: 2px solid $lighter;
        border-bottom: none;
    }
}

.admincontainer{
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    height: calc(100vh - 90px);
    box-sizing: border-box;
    padding: 10px 40px 0 40px;
    overflow-y: auto;
    ul{
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    h1{
        color: $yellow;
        font-family: $title;
    }
    h2{
        color: $lightblue;
        font-family: $title;
        font-size: 24px;
        margin: 0;
    }
    h3{
        color: $lightblue;
        font-family: $title;
        font-size: 16px;
    }
    p{
        margin: 8px 0;
        color: $white;
        font-family: $text;
    }
}

.button{
    box-shadow: unset;
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
    padding: 0 32px;
    background: linear-gradient(-180deg, #e6b226 0%, #D87B19 100%);
    font-family: $title;
    color: $dark;
    float: left;
    border: 3px solid rgb(240, 208, 121);
    border-right: 3px solid rgb(159, 64, 0);
    border-bottom: 3px solid rgb(159, 64, 0);
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    padding: 5px 0;
    margin: 10px 0;
}
.delete{
    background: linear-gradient(to bottom, #fc8508, #D01E1E);
}

.add{
    width:300px;
}

form input[type=submit]{
    margin-bottom: 32px;
}

.listitem{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 2px solid $dark;
    div:first-of-type{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 80%;
    }
    h3{
        margin-top: 0;
        display: block;
        width: 100%;
    }
    p{
        display: flex;
        width: 80%;
        max-height: 100px;
        overflow: hidden;
        flex: 1;
        padding: 0 32px;
        box-sizing: border-box;
    }
    img{
        width: 20%;
        max-height: 100px;
        max-width: 250px;
        object-fit: cover;
        box-sizing: border-box;
        display: flex;
    }

    .buttons{
        display: flex;
        flex-direction: column;
        width: 20%;
    }
}

form{
    >div{
        margin-bottom: 32px;
        .together{
            width: 75%;
            min-width: 650px;
            display: flex;
            flex-direction: column;
            margin: 12px 0 24px;
        }
    }
    i{
        font-family: $text;
        color: $white;
        font-size: 12px;
        margin-bottom: 8px;
    }
}

.tox-tinymce{
    min-height: 350px !important;
}

.listitem div:first-of-type.donation{
    width: 100%;
}

.listitem .full{
    overflow: visible;
    width: 100%;
    padding: 0;
}

h4{
    width: 100%;
    margin: 0;
    color: $lightblue;
    font-family: $text;
}

.listitem{
    .donation{
        .titles{
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        h3{
            margin-bottom: 4px;
        }
        h4{
            margin-bottom: 8px;
            color: $yellow;
        }
        .donationText{
            display: flex;
            width: 100%;
            justify-content: space-between;
            flex-direction: row;
            p{
                flex: unset;
                width: auto;
                padding: 0;
            }
            .full{
                max-height: unset;
                flex: 1;
                box-sizing: border-box;
                padding-right: 48px;
            }
        }
        .data{
            text-align: right;
            display: flex;
            flex-direction: column;
            width: auto;
        }
    }
}

.preview{
    display: block;
    margin-top: 12px;
    font-family: $text;
    color: $white;
}

table {
    font-family: $text;
    border-collapse: collapse;
    text-align: left;
    color: $white;
    width: 100%;
    h3{
        word-break: all;
    }
    img{
        height: 100px;
        object-fit: cover;
        width: 100%;
        min-width: unset;
        max-width: 250px;     
    }
    td,th{
        border: 2px solid $lighter;
        padding: 8px;
    }
    tr{
        &:nth-child(even){
            background-color: $dark;
        }
        &:hover{
            background-color: $black;
        }
    }

    th {
        text-align: left;
        background-color: $dark;
        color: $white;
    }
}
