//admin panel
@import 'app';

ul{
    list-style: none;
}

.container{
    margin: 0;
    width: 100%;
    max-width: none;
}

.content{
    background: $lighter;
}

.admin {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.sidenav{
    background: $dark;
    color: $white;
    width: 250px;
    box-shadow:0 0.3125rem 0.625rem 0 rgba(0, 0, 0, 0.85) ;
    ul{
        padding: 0;
        li{
            padding: 10px;
            background: $dark;
            border-bottom: 2px solid $lighter;
            box-sizing:border-box;
        }
        li:hover{
            background: $lighter;
        }
        a{
            color: white;
            font-family: $text;
            text-decoration: none;
        }
    }
}

.admincontainer{
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 40px 0 40px;
    ul{
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    h1{
        color: $yellow;
        font-family: $title;
    }
    h2{
        color: $lightblue;
        font-family: $title;
        font-size: 24px;
    }
    h3{
        color: $lightblue;
        font-family: $title;
        font-size: 16px;
    }
    p{
        color: $white;
        font-family: $text;
    }
}

.button{
    box-shadow: unset;
    width: 100%;
    font-size: 16px;
    padding: 0 32px;
    background: linear-gradient(-180deg, #e6b226 0%, #D87B19 100%);
    font-family: $title;
    color: $dark;
    float: left;
    border: 3px solid rgb(240, 208, 121);
    border-right: 3px solid rgb(159, 64, 0);
    border-bottom: 3px solid rgb(159, 64, 0);
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    padding: 5px 0;
    margin: 10px 0;
}
.delete{
    background: linear-gradient(to bottom, #fc8508, #D01E1E);
}

.add{
    width:300px;
}

.listitem{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 2px solid $dark;
    div:first-of-type{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 80%;
    }
    h3{
        margin-top: 0;
        display: block;
        width: 100%;
    }
    p{
        display: flex;
        width: 80%;
        flex: 1;
        padding: 0 32px;
        box-sizing: border-box;
    }
    img{
        width: 20%;
        max-height: 100px;
        max-width: 250px;
        object-fit: cover;
        box-sizing: border-box;
        display: flex;
    }

    .buttons{
        display: flex;
        flex-direction: column;
        width: 20%;
    }
}

