// news

@import "app";

.container.news{
    p{
        color: white;
        font-family: $text;
    }
    align-self: flex-start;
    justify-self: flex-start;
    h1{
        font-family: $title;
        color: $yellow;
    }
    main {
        display: flex;
        width: 100%;
        flex-direction: column;
        background: transparent url('/images/content_repeat_y2.jpg') repeat-y 0 0;
        background-size: 100%;
        box-sizing: border-box;
        padding: 20px;
        margin-bottom: 38px;
        position: relative;
        &::before, &::after{
            content:' ';
            height: 2px;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0px;
            background: transparent url('/images/background-tabbedelement-top.jpg') repeat-x 0 0;
        }
        &::after {
            top: unset;
            bottom: 0;
        }
    }
    a{
        width: 100%;
        display: block;
        text-decoration: none;
        .newsblock {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            box-sizing: border-box;
            padding: 10px 0;
            img{
                border: solid 1px #384043;
                box-sizing: border-box;
                background: $black;
                padding: 2px;
                width: 170px;
                height: 88px;
                object-fit: cover;
            }
            article{
                box-sizing: border-box;
                max-width: calc(100% - 180px);
                margin-left: 10px;
                display: flex;
                flex-direction: column;
                font-size: 20px;
                h3{
                    font-family: $title;
                    color: $lightblue;
                }
                .intro {
                    display: flex;                    
                    p{
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 1; /* number of lines to show */
                        -webkit-box-orient: vertical;
                        max-width: 120px;
                        width: fit-content;
                    }
                    span {
                        margin-left: 4px;
                        float: left;
                        font-size: 14px;
                        color: $yellow;
                        justify-self: flex-end;
                    }
                    *{
                        margin: 0;
                    }
                }
                p, i {
                    font-size: 14px;
                }
                *{
                    font-family: $text;
                    margin: 3px;
                }
            }
            *{
                color: $white;
            }
            
            &::after{
                content: " ";
                height: 2px;
                width: 100%;
                position: absolute;
                box-sizing: border-box;
                bottom: 0;
                border-top: 1px solid $lighter;
                border-bottom: 1px solid $black;
            }
        }
    }
}

.pages {
        width: 100%;
        display: flex;
        margin: 20px auto 0;
        justify-content: center;
        color: $yellow;
        position: relative;
    nav {
        display: flex;
        justify-content: center;
        background: unset;
        box-shadow: unset;
        ul{
            display: flex;
            flex-direction: row;
            li {
                font-family: $title;
                margin: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 35px;
                height: 35px;
                background: $lighter;
                border-radius: 3px;
                box-shadow: inset 0px 5px 5px -5px rgba(0, 0, 0, 0.75);
                color: $yellow;
                display: flex;
                a{
                    text-align: center;
                    color: $white;
                }
            }
        }
    }
}
.pagination {
    list-style: none;
    padding: 0;
    z-index: -1;
}

.newsbanner{
    position: relative;
    align-self: start !important;
    display: flex;
    min-height: 300px;
    max-height: 400px;
    width: 100%;
    object-fit: cover;
    z-index: 1;
}

.backgroundbanner{
    position: relative;
    background: $dark;
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}
    
.detail {
    top:-250px;
    position: relative;
    z-index: 2;
    main {
        min-height: 400px;
        article{
            padding: 20px 10px;
            .intro {
                margin: 16px 0;
                box-shadow: 0 0 10px 3px rgba(0,0,0,.7);
                background: rgba(0,0,0,.7);
                outline:1px solid #62686c;
                border: 2px solid $black;
                box-sizing: border-box;
                padding: 10px;
                color: $white;
                font-family: $text;
                p{
                    margin:0 ;
                }
            }
            font-family: $text;
            color: $white;
        }
    }
    h1{
        position: relative;
        top: 4px;
        z-index: 5;
        padding: 8px 20px 0 30px;
        display: inline-block;
        background: url('/images/content_repeat_y.jpg');
        overflow: visible;
        margin: 0;
        a{
            color: $yellow;
        }
        &::after {
            content:' ';
            display: block;
            position: absolute;
            top: 0;
            left: 100%;
            height: 100%;
            width: 54px;
            background: url('/images/background_title.png');
            background-repeat: no-repeat;
        }
    }
    h3{
        color: $lightblue;
        font-family: $title;
        margin:0;
        font-size: 36px;
    }
}

#donate{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 40%;
    width: 600px ;
    max-width: 100%;
    p{
        margin-bottom: 4px;
    }
    input[type=submit]{
        margin-top: 16px;
    }
    textarea{
        height: 100px;
    }
    .bigger{
        padding:4px 0;
    }
}

.together{
    display: flex;
    width: calc(50% - 12px);
    flex-direction: column;
    margin-top: 24px;
    input{
        width: auto;
    }
}

.large {
    width: 100%;
}