$dark: #101D23;
$lighter: #203A46;
$yellow: #E1BB34;
$black: #091013;
$lightblue: #b2dbee;
$white: #ECEDEE;

@font-face {
    font-family: Cinzel;
    src: url('/fonts/Cinzel-Bold.otf');
}
@font-face {
    font-family: Museo;
    src: url('/fonts/MuseoSans_500.otf');
}

$text: Museo;
$title: Cinzel;